body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4d0014;
    color: #fff;
  }

  .luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
     }
  
     h1 {
        text-align: center;
     }
.container1 {
  text-align: center;
}
.container2 {
    text-align: center;
  }
  .container {
    text-align: left;
  }

#buttons {
  margin-top: 20px;
  text-align: center;
}

.player-button {
  margin: 5px;
  padding: 10px 20px; /* Adjust padding to make buttons bigger */
  font-size: 16px; /* Adjust font size if needed */
}


img {
    display: block;
    margin: 0 auto;
    max-width: 20%;
    height: auto;
  }


  button {
    background: none;
    border: none;
    padding: 20px 40px; /* Increase padding for bigger button */
    cursor: pointer;
    margin-top: 50px;
    color: white;
    font-size: 18px; /* Increase font size for bigger text */
    text-align: center;
  }

  .horizontal-stack {
    display: flex; /* Use flexbox layout */
  }
  
  .spacer {
    flex: 0.18; /* Flexible space to push elements to the right */
  }

  .spacer2 {
    height: 40px;
  }

  .spacer3 {
    width: 50px;
    display: inline-block; 
  }

  .spacer4 {
    width: 475px;
    display: inline-block; 
  }
  .spacer5 {
    width: 360px;
    display: inline-block; 
  }


  .player-button.active {
    background-color: black;
  }

  #currentPlayer {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
  }
  