body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4d0014;
    color: #fff;
  }

  .luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
     }
  
     h1 {
        text-align: center;
     }
.container1 {
  text-align: center;
  justify-content: center;
}
.container2 {
    text-align: center;
    justify-content: center;
  }

  .container {
    text-align: left;
  }

  .container2 {
    margin-top: -40px; /* Adjust as needed */
  }

#buttons {
  margin-top: 20px;
  text-align: center;
}

.player-button {
  margin: 5px;
  padding: 10px 20px; /* Adjust padding to make buttons bigger */
  font-size: 16px; /* Adjust font size if needed */
}


img {
    display: block;
    margin: 0 auto;
    max-width: 20%;
    height: auto;
  }


  button {
    background: none;
    border: none;
    padding: 20px 40px; /* Increase padding for bigger button */
    cursor: pointer;
    margin-top: 50px;
    color: white;
    font-size: 18px; /* Increase font size for bigger text */
    text-align: center;
  }

  .horizontal-stack {
    display: flex; /* Use flexbox layout */
    justify-content: center;
  }
  
  .spacer {
    flex: 0.18; /* Flexible space to push elements to the right */
  }

  .spacer2 {
    height: 40px;
  }


  .player-button.active {
    background-color: black;
  }

  #currentPlayer {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
  }

  .big-button {
    font-size: 40px; /* Adjust as needed */
  }

  /* Popup styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  background-color: #ffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  color: black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally */
}
.button-container button {
  margin: 1px 0; /* Adjust margin as needed */
}

/* Add styles for individual buttons if needed */

  

  @media only screen and (max-width: 768px) {
    img {
      display: block;
      margin: 0 auto;
      max-width: 40%;
      height: auto;
    }



  }

